<h1>Parties#score</h1>
<p>Find me in app/views/parties/score.html.erb</p>

<p>******** Now your results ********</p>

<p>Your word : <%= @answer %></p>
<p>Time Taken to answer: <%= @timeframe %></p>
<p>Your score: <%= @score  %></p>
<p>Message : <%= @message %></p>



<p> choice was <%= @array_of_letters %></p>




